<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light-blue"></ion-icon>
    </button>
    <ion-title>Official DFL Rules</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/logo.png" alt="DFL Logo">

  <ion-card>
    <ion-card-content>
      <h1 class="text-blue"><b>DRUNKEN FOOZBALL LEAGUE OFFICIAL RULES AND INTERPRETATIONS {{ currentYear }}</b></h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><b class="text-blue">TABLE OF CONTENTS</b></ion-card-header>
    <ion-card-content>
      <ul *ngFor="let chapter of gameRules; let chapterIndex = index">
        <li class="text-blue">{{ chapterIndex + 1 }}. {{ chapter.chapterTitle.toUpperCase() }}</li>
        <div *ngFor="let section of chapter.sections; let sectionIndex = index">
          <span (click)="setActiveSection((chapterIndex + 1) + '.' + (sectionIndex + 1))" class="text-light"><u>{{ chapterIndex + 1 }}.{{ sectionIndex +1 }}. {{ section.sectionTitle }}</u></span>
        </div>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let chapter of gameRules; let chapterIndex = index">
    <ion-card-header><b class="text-blue">{{ chapterIndex + 1 }}. {{ chapter.chapterTitle.toUpperCase() }}</b></ion-card-header>
    <ion-card-content *ngFor="let section of chapter.sections; let sectionIndex = index">
      <h2 id="{{ chapterIndex + 1 }}.{{ sectionIndex +1 }}" class="text-blue"><b>{{ chapterIndex + 1 }}.{{ sectionIndex +1 }}. {{ section.sectionTitle }}</b></h2>
      <span class="text-light">{{ section.description }}</span>
      <ul *ngFor="let subSection of section.subSections; let subSectionIndex = index">
        <li class="text-light">{{ chapterIndex + 1 }}.{{ sectionIndex +1 }}.{{ subSectionIndex + 1 }}. {{ subSection }}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-fab left bottom>
    <button ion-fab color="dark-blue" (click)="scrollToTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
</ion-content>
