<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light-blue"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/imgs/logo.png" alt="DFL Logo"><br>
  <ion-card>
    <ion-card-header>
      <h3 class="text-blue"><b>OFFICIAL DFL <ion-icon name="football"></ion-icon></b></h3>
    </ion-card-header>
    <ion-card-content>
      <button (click)="navigateToRules()" ion-button>Read the Rules</button>
    </ion-card-content>
  </ion-card>
</ion-content>
