// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// global styling
.content {
  background-color: color($colors, primary);
}

.item-md {
  background-color: transparent !important;
}

.text-blue {
  color: color($colors, light-blue) !important;
}

.text-light {
  color: color($colors, light);
}

.toolbar-title {
  color: color($colors, light-blue) !important;
}

.toolbar-background {
  background-color: color($colors, secondary);
}

.label, .label-md {
  color: color($colors, light) !important;
}

.alert-md [aria-checked=true] .alert-radio-label {
  color: color($colors, light-blue);
}

.alert-md [aria-checked=true] .alert-radio-icon {
  border-color: color($colors, light-blue);
}

.alert-wrapper {
  background-color: color($colors, primary) !important;

  .alert-message {
    color: color($colors, light);
    padding-top: 10px;
  }

  .alert-head, .alert-button-group {
    color: color($colors, light-blue);
    background-color: color($colors, secondary);
  }

  .alert-radio-label {
    color: color($colors, light);
  }

  .button-inner {
    color: color($colors, light-blue);
  }

  .alert-radio-group {
    border-top: 0;
    border-bottom: 0;
  }
}

input {
  color: color($colors, light) !important;
}

// TODO: maybe this should live in its own css file because this is supposed to be a global file
// navigation
#nav-bottom-login {
  position: absolute;
  bottom: 0;
  font-size: 1.4em;
}

#nav-bottom-email {
  position: absolute;
  bottom: 0;
}
