<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>drunken boozball <ion-icon name="beer"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item *ngIf="!userEmail" id="nav-bottom-login" (click)="openLogin()">Login</button>
      <button menuClose ion-item *ngIf="userEmail" id="nav-bottom-email" (click)="openUser()">{{ userEmail }}</button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>version: {{ appVersion }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
