<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light-blue"></ion-icon>
    </button>
    <ion-title>User Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <ion-icon name="person" id="user-image"></ion-icon>
    <ion-card>
      <ion-card-content>
        <button block ion-button (click)="changePassword()">Change Password</button>
        <button block ion-button (click)="changeEmail()">Change Email</button>
        <button block ion-button (click)="logout()" color="light">Logout</button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
